In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('vgsales.csv')
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [7]:
data = data.drop(['Name', 'Platform', 'Year'], axis=1)
data.head()

,Rank,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [8]:
data = pd.get_dummies(data, columns=['Genre', 'Publisher'], drop_first=True)
data.head()

,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,...,Publisher_Zushi Games,Publisher_bitComposer Games,Publisher_dramatic create,Publisher_fonfun,Publisher_iWin,Publisher_id Software,Publisher_imageepoch Inc.,Publisher_inXile Entertainment,"Publisher_mixi, Inc",Publisher_responDESIGN
0,1,41.49,29.02,3.77,8.46,82.74,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,29.08,3.58,6.81,0.77,40.24,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,15.85,12.88,3.79,3.31,35.82,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,15.75,11.01,3.28,2.96,33.00,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,11.27,8.89,10.22,1.00,31.37,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(data.drop('Genre_Adventure', axis=1)), columns=data.columns[:-1])
data_scaled.head(5)

,Rank,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,...,Publisher_Zoo Games,Publisher_Zushi Games,Publisher_bitComposer Games,Publisher_dramatic create,Publisher_fonfun,Publisher_iWin,Publisher_id Software,Publisher_imageepoch Inc.,Publisher_inXile Entertainment,"Publisher_mixi, Inc"
0,-1.732076,50.480508,57.136930,11.938058,44.606085,52.864025,-0.232037,-0.342102,-0.237466,-0.190627,...,-0.032949,-0.017359,-0.017359,-0.007762,-0.007762,-0.007762,-0.010978,-0.007762,-0.007762,-0.010978
1,-1.731867,35.284437,6.794188,21.767296,3.828224,25.532503,-0.232037,-0.342102,4.211132,-0.190627,...,-0.032949,-0.017359,-0.017359,-0.007762,-0.007762,-0.007762,-0.010978,-0.007762,-0.007762,-0.010978
2,-1.731659,19.084273,25.197785,12.002724,17.297115,22.690025,-0.232037,-0.342102,-0.237466,-0.190627,...,-0.032949,-0.017359,-0.017359,-0.007762,-0.007762,-0.007762,-0.010978,-0.007762,-0.007762,-0.010978
3,-1.731450,18.961823,21.497277,10.353740,15.441165,20.876498,-0.232037,-0.342102,-0.237466,-0.190627,...,-0.032949,-0.017359,-0.017359,-0.007762,-0.007762,-0.007762,-0.010978,-0.007762,-0.007762,-0.010978
4,-1.731241,13.476053,17.302048,32.792857,5.047848,19.828254,-0.232037,-0.342102,-0.237466,-0.190627,...,-0.032949,-0.017359,-0.017359,-0.007762,-0.007762,-0.007762,-0.010978,-0.007762,-0.007762,-0.010978

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [24]:
X = data_scaled
y = data['Genre_Adventure']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
models = {
    "Logistic Regression": LogisticRegression(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Support Vector Machines": SVC(),
    "Decision Trees": DecisionTreeClassifier(),
    "Random Forests": RandomForestClassifier()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(f"{name}: {model.score(X_test, y_test)}")

Logistic Regression: 0.9454819277108434

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

AttributeError: 'Flags' object has no attribute 'c_contiguous'